.toolDiv {
    width: 5.5%;
    height: 80%;
    position: absolute;
    background-color: #fae191;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#BrushDiv {
    left: 7.5%;
    top:10%;
}
#ColorDiv {
    right: 7.5%;
    top: 10%;
}
.colorSample {
    display: none;
}

.colorSample:hover {
    border: 2px solid lightgray;
    padding: 8px;
}
.colorLabel {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
    .colorLabel:hover {
        border: 2px solid lightgray;
        cursor: pointer;
    }
.colorSample:checked + .colorLabel {
    border: 2px solid gray;
}
#CanvaDiv {
    cursor: crosshair;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    width: 80vh;
    height: 60vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    overflow: hidden;
}
#canvaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.thicknessChanger {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3ce8a;
}
    .thicknessChanger:hover {
        background-color: #f5df98;
        border: 2px solid lightgray;
    }
        .thicknessChanger:hover .thicknessChangerDiv {
            background-color: #0a0a0a;
        }
.thicknessChangerDiv {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    margin: auto;
}


#tC-1 {
    width: 10% !important;
    height: 10% !important;
}
#tC-2 {
    width: 20% !important;
    height: 20% !important;
}
#tC-3 {
    width: 30% !important;
    height: 30% !important;
}
#tC-4 {
    width: 40% !important;
    height: 40% !important;
}
#tC-5 {
    width: 50% !important;
    height: 50% !important;
}
#tC-6 {
    width: 60% !important;
    height: 60% !important;
}
#tC-7 {
    width: 70% !important;
    height: 70% !important;
}
#tC-8 {
    width: 80% !important;
    height: 80% !important;
}
#tC-9 {
    width: 90% !important;
    height: 90% !important;
}
#tC-10 {
    width: 100% !important;
    height: 100% !important;
}
.ThickBtn{
    display: none;
}
    .ThickBtn:checked + .thicknessChanger {
        border:2px solid gray;
    }
#extraToolsDiv {
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 25%;
    height: 5.5%;
    background-color: #fae191;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.BottomTools {
    border: none;
    background-color: #f5df98;

}
#EraseCheckbox {
    display: none;   
}
#EraseLabel {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: color 0.5s ease;
}
    #EraseLabel:hover {
        color: #545454;
    }
#EraseCheckbox:checked + #EraseLabel {
    color: #545454;
    text-decoration: underline;
}
#clearButton {
    background-color: transparent;
    color: red;
    border: none;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    transition: color 0.5s ease;
}
    #clearButton:hover {
        color: #bf0f02;
        font-family: 'Roboto';
    }
#saveButton {
    background-color: transparent;
    color: #00030f;
    border: none;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    transition: color 0.5s ease;
}

    #saveButton:hover {
        color: #0f6b02;
        font-family: 'Roboto';
    }
input[type="color"] {
    border: none;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
}
.toolSelectorBtn {
    display: none;
}
.toolSelectLabel {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f7ebc3;
    border: 2px solid #c9ab47;
    text-align: center;
}
    .toolSelectLabel:hover {
        background-color: #fae6a5;
        border: 2px solid lightgray;
    }
.toolSelectorBtn:checked + .toolSelectLabel {
    background-color: #fae6a5;
    border: 2px solid gray;
}