.toolDiv {
    width: 5.5%;
    height: 80%;
    position: absolute;
    background-color: #fae191;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#BrushDiv {
    left: 5%;
    top:10%;
}
#ColorDiv {
    right: 5%;
    top: 10%;
}
.colorSample {
    border: none;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    display: block;
    display: block;
    box-sizing: border-box;
}
    .colorSample:hover {
        border: 2px solid lightgray;
        padding: 8px;
    }
#CanvaDiv {
    cursor: crosshair;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    width: 80vh;
    height: 60vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}
#canvaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.thicknessChanger {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3ce8a;
}
    .thicknessChanger:hover {
        background-color: #f5df98;
    }
        .thicknessChanger:hover .thicknessChangerDiv {
            background-color: #0a0a0a;
        }
.thicknessChangerDiv {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    margin: auto;
}


#tC-1 {
    width: 10% !important;
    height: 10% !important;
}
#tC-2 {
    width: 20% !important;
    height: 20% !important;
}
#tC-3 {
    width: 30% !important;
    height: 30% !important;
}
#tC-4 {
    width: 40% !important;
    height: 40% !important;
}
#tC-5 {
    width: 50% !important;
    height: 50% !important;
}
#tC-6 {
    width: 60% !important;
    height: 60% !important;
}
#tC-7 {
    width: 70% !important;
    height: 70% !important;
}
#tC-8 {
    width: 80% !important;
    height: 80% !important;
}
#tC-9 {
    width: 90% !important;
    height: 90% !important;
}
#tC-10 {
    width: 100% !important;
    height: 100% !important;
}

#extraToolsDiv {
    position: absolute;
    bottom: 10%;
    width: 60%;
    left: 20%;
    height: 5.5%;
    background-color: #fae191;
    border-radius: 3%;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}